  *{
    margin: 0;
    padding: 0;
}
:root {
    --azul-1: #3293d1;
    --azul-2: #004aad;
    --azul-3: #05244b;
    --preto: #000;
    --branco: #fff;
    --branco-2: #f0f6ff;
}
@font-face {
    font-family: 'titulo';
    src: url('fontes/Block\ Berthold\ Regular.ttf');
}
@font-face {
    font-family: 'texto-1';
    src: url('fontes/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'texto-2';
    src: url('fontes/OpenSans-Bold.ttf');
}

/*BODY*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.inicio {
  background-image: url(imagens/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 111vh;
  margin: 0;
}

body.info {
  background: var(--branco-2);
  height: auto;
}

/*HEADER*/


header h1 {
  color: var(--branco);
  padding: 1%;
  font-family: 'titulo';
  font-weight: 300;
  background: var(--azul-1);
  background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
}
header ul a {
  font-family: 'texto-1';   
  color: var(--azul-3);
  text-decoration: none;
  padding-right: 5px
}
header ul {
  background-color: var(--branco);   
  justify-content: flex-end; 
  display: flex;
  gap: 20px; 
  list-style: none;   
  padding-left: 0;
}

header a {
  color: #18272F;
  position: relative;
  text-decoration: none;
}
  
header a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--azul-3);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
  
header a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
  


/*FOOTER*/

footer {
  background-color: var(--azul-1);
  background: linear-gradient(0deg, var(--azul-1) 20%, rgba(255,255,255,0) 80%);
  height: 30px;
  margin-top: 20px;
  font-family: 'texto-1'; 
  color: var(--branco);
  font-size: small;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: var(--branco);
  font-family: 'texto-1'; 
  font-size: small;

}

main {
  width: 100%;
  flex: 2;
}

.section_bloco {
  display: flex;
  flex-wrap: wrap; /* faz quebrar em duas linhas no mobile */
  justify-content: space-between;
  gap: 10px; /* espaço entre os blocos */
  margin: 2%;
}

.textoInfo p {
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 20px;
}

.textoInfo, .container {
    margin: 0;  
    padding: 2%;; 
}

#txt_inicial p {
  background-color:  rgba(255, 255, 255, 0.75);
  font-family: 'texto-2';
  color: var(--azul-3);
  text-align: justify;
  margin-left: 3%;
  margin-top: 5.5%;
  width: 37%;
  padding: 2%;
  border-radius: 30px;
}

#txt_inicial ul li {
  display: flex;
  width: 41%; 
  border-radius: 20px;
  justify-content: center;
  margin-left: 3%;
  margin-top: 10px;
  cursor: pointer;
}
#txt_inicial a {
  width: 1000px;  
}
.botao {
  font-family: 'texto-2';
  text-align: center;
  text-decoration: none;
  color: var(--branco);
  padding: 8px 16px;  
  border-radius: 20px;
  background: var(--azul-1);
  background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.botao::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--azul-2) 28%, var(--azul-3) 73%);
  opacity: 0;
  border-radius: 20px;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.botao:hover::before {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}

.bolhas {
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 20px;
}

article h2 {
  display: flex;
  background-color: var(--azul-1);
  background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
  padding: 3px 15px;  
  margin-bottom: 1%;
  border-radius: 20px;
  color: var(--branco);
  font-family: 'texto-2';
  font-size:larger;
}
article p {
  font-family: 'texto-2';
  font-size: large;
  color: var(--azul-3);
  text-align: justify;
  padding: 1%;
  margin: 1%;
}

/*CARROSSEL*/

.container {
  height: 300px;
  width: 55%; 
  position: relative;
  padding: 15px;
  margin: 2% auto 3%;
  max-width: 100%;
  overflow: hidden;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  padding: 1%;
  background: linear-gradient(to left, transparent 0%, var(--azul-2) 200%);
  opacity: 0.5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  padding: 1%;
  background: linear-gradient(to right, transparent 0%, var(--azul-2) 200%);
}


.gallery-wrapper {
  overflow-x: hidden; /* Impede rolagem manual */
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.gallery a.item {
  position: relative;
  min-width: 100%;
  height: auto;
  flex-shrink: 0;
  opacity: 0.5;
  transition: opacity 0.6s ease-in-out;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery a.current-item {
  opacity: 1;
}

.gallery a.item img {
  width: 100%;
  height: 300px; /* Altura padronizada */
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #05244ba4;
  /*background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);*/
  color: #fff;
  font-family: 'texto-2';
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .gallery a.item img {
    width: 100%;
    height: 100%; /* Altura da moldura */
    object-fit: contain; /* NÃO distorce a imagem */
    background-color: #f0f0f0; /* Cor de fundo da moldura */
    border-radius: 5px;
    display: block;
  }

  .caption {
    font-size: 12px;
    padding: 8px;
  }

  .arrow-left,
  .arrow-right {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .gallery a.item img {
    height: 180px;
  }

  .caption {
    font-size: 11px;
    padding: 6px;
  }
}


/*FORMULARIO*/

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  margin: 35px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formulario h2 {
  font-family: 'texto-2';
  color: var(--azul-3);
  text-align: center;
}

.formulario p {
  font-family: 'texto-1';
  color: var(--azul-3);
  text-align: center;
}

.formulario label {
  font-family: 'texto-2';
  color: var(--azul-3);
  font-size: 15px;
}

.formulario input {
  font-family: 'texto-1';
  font-size: 14px;
  padding: 10px;
  border: 1px solid var(--azul-2);
  border-radius: 5px;
  outline: none;
}

.formulario input:focus {
  border-color: var(--azul-1);
  box-shadow: 0 0 5px var(--azul-1);
}

.formulario button {  
  font-family: 'texto-2';
  font-size: 16px;
  padding: 10px 20px;
  color: var(--branco);
  background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.coordenadas {
  display: flex;
  gap: 10px;
  width: 100%; /* Add this line */
}

.estacao-main {
  padding: 2rem;
  max-width: 1000px;
  font-family: 'texto-2';
  margin: auto;
}

.estacao-main h1 {
  text-align: center;
  background-color: var(--azul-1);
  background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
  padding: 1%;
  margin: 2%;
  border-radius: 20px;
  color: var(--branco);
  font-size:x-large;
}

#mapaSensores {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

#graficosContainer {
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.902);
  border-radius: 20px;
}