  *{
    margin: 0;
    padding: 0;
}
:root {
    --azul-1: #3293d1;
    --azul-2: #004aad;
    --azul-3: #05244b;
    --preto: #000;
    --branco: #fff;
    --branco-2: #f0f6ff;
}
@font-face {
    font-family: 'titulo';
    src: url('fontes/Block\ Berthold\ Regular.ttf');
}
@font-face {
    font-family: 'texto-1';
    src: url('fontes/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'texto-2';
    src: url('fontes/OpenSans-Bold.ttf');
}

/*BODY*/

#inicio {
    background-image: url(imagens/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 111vh;
    margin: 0;
}

body {
    background-color: var(--branco-2);
}

/*HEADER*/

header {
    height: 50%;
}
header h1 {
    color: var(--branco);
    padding: 1%;
    font-family: 'titulo';
    font-weight: 300;
    background: var(--azul-1);
    background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
}
header ul a {
    font-family: 'texto-1';   
    color: var(--azul-3);
    text-decoration: none;
    padding-right: 5px
}
header ul {
    background-color: var(--branco);   
    justify-content: flex-end; 
    display: flex;
    gap: 20px; 
    list-style: none;   
    padding-left: 0;
}

header a {
    color: #18272F;
    position: relative;
    text-decoration: none;
  }
  
  header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--azul-3);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  header a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  


/*FOOTER*/

footer {
    background-color: var(--azul-1);
    background: linear-gradient(0deg, var(--azul-1) 30%, rgba(255,255,255,0) 70%);
    height: 40px;
    margin-top: 20px;
    font-family: 'texto-1'; 
    color: var(--branco);
    font-size: small;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}
footer a {
    text-decoration: none;
    color: var(--branco);
    font-family: 'texto-1'; 
    font-size: small;
}

footer a {
    color: var(--branco);
    position: relative;
    text-decoration: none;
  }
  
  footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: var(--branco);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

/*MAIN*/

main {
    width: 100%;
    height: 480px;
    flex: 2;
}


#txt_inicial p {
    background-color:  rgba(255, 255, 255, 0.75);
    font-family: 'texto-2';
    color: var(--azul-3);
    text-align: justify;
    margin-left: 3%;
    margin-top: 5.5%;
    width: 37%;
    padding: 2%;
    border-radius: 30px;
}

#txt_inicial ul li {
    display: flex;
    width: 41%; 
    border-radius: 20px;
    justify-content: center;
    margin-left: 3%;
    margin-top: 10px;
    cursor: pointer;
}
#txt_inicial a {
    font-family: 'texto-2';
    text-align: center;
    text-decoration: none;
    color: var(--branco);
    padding: 8px 16px;
    width: 1000px;    
    border-radius: 20px;
    background: var(--azul-1);
    background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#txt_inicial a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--azul-2) 28%, var(--azul-3) 73%);
    opacity: 0;
    border-radius: 20px;
    z-index: -1;
    transition: opacity 0.3s ease;
}

#txt_inicial a:hover::before {
    opacity: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}

.txt_geral {
    width: 43%;
    margin: 3.3%;
    float: left;
}

.txt_geral h2 {
    display: flex;
    background-color: var(--azul-1);
    background: linear-gradient(90deg, var(--azul-1) 28%, var(--azul-2) 73%);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1%;
    border-radius: 20px;
    color: var(--branco);
    font-family: 'texto-2';
    font-size:large;
}
.txt_geral p {
    font-family: 'texto-2';
    color: var(--azul-3);
    text-align: justify;
    border-radius: 30px;
    padding: 1%;
}

/*CONTAINER*/

.container {
  position: relative;
  float: left;
  padding: 15px;
  max-width: 45%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  padding: 1%;
  background: linear-gradient(to left, transparent 0%, var(--azul-2) 200%);
  opacity: 0.5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  padding: 1%;
  background: linear-gradient(to right, transparent 0%, var(--azul-2) 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.gallery a.item {
  width: 100%;
  height:max-content;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
  border-radius: 5px;
}

.gallery a.current-item {
  opacity: 1;
}

.gallery a.item img {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 5px;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  